*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color:white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color:rgba(255, 255, 255, 0.05);
    --surface-color-hover:rgba(0, 0, 0, 0.02);
    --switch-bg-url:url(assets/MoonStars.svg);
    --highlight-color: rgba(255, 255, 255, 0.1);
}
.light{
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color:rgba(0, 0, 0, 0.05);
    --surface-color-hover:rgba(255, 255, 255, 0.05);
    --switch-bg-url:url(assets/Sun.svg);
    --highlight-color: rgba(75, 74, 74, 0.1);
}

body{
    /*background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;*/

    /* tudo em uma short hand ou atalho*/
     /*  background: color(nao tem) url repeat position/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}
body * {
    font-family: 'Inter', sans-serif;
    color: white;
    color: var(--text-color);
}
#container{
    width: 100%;
    max-width: 550px;
    height: 712px;
    margin-right: auto;
    margin: auto;
    text-align: center;
    margin-top: 56px;
    padding: 0 24px;
}
#profile img {
    display: block;
    width: 112px;
    margin: auto;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
#profile{
padding: 24px;
}

ul{
    list-style: none;
    padding: 24px 0;
}
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
    
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
.light #switch button{
    animation: slide-in 0.4s forwards;
}
#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-out 0.2s;
}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background:var(--surface-color) ;
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}
 

ul li {
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
    padding: 16px 24px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: var(--surface-color);
    transition: all 0.3s ease;
    border: 1px solid var(--stroke-color);
    
}
ul li:hover {
    background: var(--surface-color-hover);
    padding: 17px;
    border: 1.5px solid var(--text-color);
}
ul li a{
    text-decoration: none;
    font-weight: 500;
   
}   
#social-links{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
#social-links a:hover{
    padding: 12px;
    border-radius: 50%;
}
@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    .light{
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}
@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes slide-out{
from{
    left: 50%;
}
to{
    left: 0;
}
}